<li class="has-background-white-bis" id="<%= dom_id task %>">
  <h4>
    <%= task.title %>
  </h4>

  <p>
    <strong>Статус:</strong>
    <%= task.status %>
  </p>

  <%= link_to task do %>
  <% end -%>  

</li>
