
<div class="shadow-md max-h-full overflow-y-auto">
  <header class="shadow-neutral-100">
    <p class="font-bold ">
      <%= title %>
    </p>
  </header>
  <ul class="card-content menu-list max-h-full overflow-y-auto" style="padding: 0.2rem">
    <%= turbo_frame_tag "task-new" %>
    <% tasks.each do |task| %>
      <%= render "task_short", task: task %>
    <% end %>
    <% if tasks.empty? -%>
      <li class="has-text-grey-light">Задач нет</li>
    <% end -%>
  </ul>
</div>